---
import "../styles/global.css";
import Header from "../components/Header.astro";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Roomy Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-background min-h-screen font-sans">
    <Header title="Roomy Expense Tracker"/>

    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
