---
const { title, amount, date, emoji } = Astro.props;
---

<div class="rounded-xl p-4 shadow-md flex items-center justify-between m-2
          bg-background border border-secondary text-text 
          hover:bg-hover/40 hover:scale-101 transition delay-200">
  <div class="text-lg">
    <div>{emoji} {title}</div>
    <div class="text-sm text-text">${amount} · {date}</div>
  </div>
</div>
