---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExpenseCard from "../components/ExpenseCard.astro";

import type { Expense } from '../types';

const response = await fetch('http://localhost:8080/api/expenses/getAll');
const expenses: Expense[] = await response.json();

---

<BaseLayout title="Roomy Tracker">
  <a href="/newExpense" 
  class="block text-center py-2 rounded-xl shadow-md mb-4
       bg-primary text-text hover:bg-hover transition delay-200">
    + Nuevo gasto
  </a>

 {expenses.length === 0 ? (
  <p class="text-center text-text">No hay gastos registrados aún.</p>
) : (
  expenses.map((exp) => (
    <ExpenseCard {...exp} />
  ))
)}
</BaseLayout>
